<div class="modal-header">
  <h2>Instructions</h2>
</div>
<div class="modal-body">
  <legend>Create</legend>
  <ol>
    <li>Typing your 'TODO' in the field and clicking 'SUBMIT'</li>
    <li class="mic-descr">Chrome users can click the <a class="btn btn-primary"><i class="icons-mic"></i></a> button.
      <ul>
        <li>Allow use of your microphone.</li>
        <li>Say your todo item.</li>
      </ul>
    </li>
  </ol>
  <legend>Remove</legend>
  <ol>
    <li>Click the todo's text</li>
    <li>Clear out field</li>
    <li>Press 'Enter'</li>
  </ol>
</div>
<div class="modal-footer">
  <p><small>* todos are stored locally</small></p>
  <button class="btn btn-primary">Ok</button>
</div>
