<a id="helpBtn" class="btn btn-primary"><i class="icon-question-sign icon-white"></i></a>
<form id="todo-form" class="input-group">
    <div class="input-append">
      <input type="text" id="new-todo" placeholder="What do you need to do today?">
      <a class="btn btn-primary" id="voiceBtn">
        <i class="icons-mic"></i>
      </a>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
<ul>
    <!-- Where our To Do items will go -->
</ul>
